body {
    padding-top: 1em;
    float: left;
    }


.container-fluid{
    margin: 80px;
    float: left;
    height: 50px;
    position: left;
    
}.container{
    float:center;
position: left;
}